In [74]:
import pandas as pd
import glob

In [75]:
names = 'names'
all_files = [f for f in glob.glob(names + "/*.txt", recursive=True)]

In [76]:
years = [1926, 2009, 2018]

In [77]:
def count_top3(years):
    files = [f for f in all_files if any((str(year) in f for year in years))]
    data = [pd.read_csv(f, header=None, names=['Name', 'Gender', 'Quantity']) for f in files]
    sorted_names = pd.concat(data).groupby(['Name', 'Gender']).sum().sort_values(['Quantity'], ascending=False)
    top_3 = sorted_names.head(3)
    return top_3

In [78]:
count_top3(years)

                Quantity
Name    Gender
William M          84354
James   M          80942
John    M          77347

In [79]:
def count_dynamics(years):
    files = [f for f in all_files if any((str(year) in f for year in years))]
    data = [pd.read_csv(f, header=None, names=['Gender', 'Quantity']).assign(Year=f[-8:-4]) for f in files]
    sorted_gender = pd.concat(data).sort_values(['Year', 'Quantity']).groupby(['Gender', 'Year']).sum()
    return sorted_gender

In [80]:
count_dynamics(years)

             Quantity
Gender Year
F      1926   1185399
       2009   1835062
       2018   1686961
M      1926   1110549
       2009   1981481
       2018   1800392