In [8]:
import pandas as pd
import glob

In [9]:
names = 'names'
all_files = [f for f in glob.glob(names + "/*.txt", recursive=True)]

In [10]:
years = [1926, 2009, 2018]

In [11]:
def count_top3(years):
    files = [f for f in all_files if any((str(year) in f for year in years))]
    data = [pd.read_csv(f, header=None, names=['Name', 'Gender', 'Quantity']) for f in files]
    print(data)
    sorted_names = pd.concat(data).groupby(['Name', 'Gender']).sum().sort_values(['Quantity'], ascending=False)
    top_3 = sorted_names.head(3)
    return top_3

In [12]:
count_top3(years)

[            Name Gender  Quantity
0       Isabella      F     22306
1           Emma      F     17895
2         Olivia      F     17435
3         Sophia      F     16944
4            Ava      F     15873
5          Emily      F     15352
6        Madison      F     15239
7        Abigail      F     14390
8          Chloe      F     11909
9            Mia      F     11426
10     Elizabeth      F     11035
11       Addison      F     10660
12        Alexis      F      9934
13      Samantha      F      9660
14          Ella      F      9654
15       Natalie      F      9409
16         Grace      F      8314
17          Lily      F      8098
18        Alyssa      F      7966
19        Ashley      F      7813
20         Sarah      F      7780
21        Taylor      F      7583
22        Hannah      F      7572
23       Brianna      F      7352
24        Hailey      F      7317
25        Kaylee      F      7213
26       Lillian      F      6857
27          Anna      F      6804
28          Leah      F      6789
29       Allison      F      6581
...          ...    ...       ...
34679    Zaylynn      M         5
34680  Zecharyah      M         5
34681        Zee      M         5
34682   Zekariah      M         5
34683      Zekhi      M         5
34684       Zell      M         5
34685    Zepplin      M         5
34686     Zequan      M         5
34687     Zereon      M         5
34688     Zevion      M         5
34689       Zhen      M         5
34690     Zhyair      M         5
34691       Zien      M         5
34692       Zier      M         5
34693   Zildjian      M         5
34694      Zimir      M         5
34695       Ziya      M         5
34696      Ziyun      M         5
34697     Zlatan      M         5
34698       Zoen      M         5
34699     Zubayr      M         5
34700     Zuhaib      M         5
34701      Zykee      M         5
34702     Zykell      M         5
34703      Zylar      M         5
34704  Zyquarius      M         5
34705      Zyran      M         5
34706    Zyreion      M         5
34707     Zyrian      M         5
34708     Zyvion      M         5

[34709 rows x 3 columns],             Name Gender  Quantity
0           Mary      F     67832
1        Dorothy      F     36617
2          Betty      F     32964
3          Helen      F     26884
4       Margaret      F     23070
5           Ruth      F     20223
6          Doris      F     16298
7       Virginia      F     16162
8        Mildred      F     13551
9        Frances      F     13355
10     Elizabeth      F     12835
11          Jean      F     12168
12        Evelyn      F     11780
13       Shirley      F     11761
14          Anna      F     11698
15       Barbara      F     11080
16         Alice      F     10956
17         Marie      F     10632
18          Lois      F      9819
19        Gloria      F      9196
20         Irene      F      9168
21      Marjorie      F      8640
22      Patricia      F      8589
23        Martha      F      8554
24          Rose      F      8509
25      Florence      F      8180
26        Louise      F      7983
27       Lillian      F      7662
28         Norma      F      7528
29          Ruby      F      7473
...          ...    ...       ...
10428    Wandell      M         5
10429       Wane      M         5
10430       Warn      M         5
10431    Warnell      M         5
10432     Wavely      M         5
10433      Waver      M         5
10434      Weber      M         5
10435    Welborn      M         5
10436     Welden      M         5
10437    Wessley      M         5
10438    Western      M         5
10439    Wharton      M         5
10440   Wilfredo      M         5
10441     Wilgus      M         5
10442    Willman      M         5
10443    Wilmore      M         5
10444     Wilroy      M         5
10445    Winburn      M         5
10446    Woodfin      M         5
10447   Woodruff      M         5
10448     Wordie      M         5
10449    Wortham      M         5
10450      Wymon      M         5
10451     Ylario      M         5
10452  Yoshihiko      M         5
10453       Yves      M         5
10454  Zachariah      M         5
10455        Zan      M         5
10456   Zeferino      M         5
10457     Zelmer      M         5

[10458 rows x 3 columns],             Name Gender  Quantity
0           Emma      F     18688
1         Olivia      F     17921
2            Ava      F     14924
3       Isabella      F     14464
4         Sophia      F     13928
5      Charlotte      F     12940
6            Mia      F     12642
7         Amelia      F     12301
8         Harper      F     10582
9         Evelyn      F     10376
10       Abigail      F      9796
11         Emily      F      8656
12     Elizabeth      F      8513
13          Mila      F      8126
14          Ella      F      8055
15         Avery      F      8053
16         Sofia      F      7621
17        Camila      F      7473
18          Aria      F      7394
19      Scarlett      F      7182
20      Victoria      F      7089
21       Madison      F      7036
22          Luna      F      6897
23         Grace      F      6724
24         Chloe      F      6626
25      Penelope      F      6474
26         Layla      F      6468
27         Riley      F      5976
28          Zoey      F      5899
29          Nora      F      5799
...          ...    ...       ...
32003    Zerrick      M         5
32004     Zeshan      M         5
32005      Zevan      M         5
32006    Zhander      M         5
32007       Zhen      M         5
32008      Zheng      M         5
32009    Zhiheng      M         5
32010      Ziaan      M         5
32011     Zichen      M         5
32012      Zidon      M         5
32013       Zien      M         5
32014       Zier      M         5
32015     Zierre      M         5
32016      Zihir      M         5
32017        Zim      M         5
32018        Zin      M         5
32019      Zishe      M         5
32020      Zmari      M         5
32021       Zoel      M         5
32022       Zola      M         5
32023      Zuber      M         5
32024     Zubeyr      M         5
32025      Zyell      M         5
32026     Zyheem      M         5
32027     Zykeem      M         5
32028      Zylas      M         5
32029      Zyran      M         5
32030      Zyrie      M         5
32031      Zyron      M         5
32032      Zzyzx      M         5

[32033 rows x 3 columns]]

                Quantity
Name    Gender
William M          84354
James   M          80942
John    M          77347

In [13]:
def count_dynamics(years):
    files = [f for f in all_files if any((str(year) in f for year in years))]
    data = [pd.read_csv(f, header=None, names=['Gender', 'Quantity']).assign(Year=f[-8:-4]) for f in files]
    print(data)
    sorted_gender = pd.concat(data).sort_values(['Year', 'Quantity']).groupby(['Gender', 'Year']).sum()
    return sorted_gender

In [14]:
count_dynamics(years)

[          Gender  Quantity  Year
Isabella       F     22306  2009
Emma           F     17895  2009
Olivia         F     17435  2009
Sophia         F     16944  2009
Ava            F     15873  2009
Emily          F     15352  2009
Madison        F     15239  2009
Abigail        F     14390  2009
Chloe          F     11909  2009
Mia            F     11426  2009
Elizabeth      F     11035  2009
Addison        F     10660  2009
Alexis         F      9934  2009
Samantha       F      9660  2009
Ella           F      9654  2009
Natalie        F      9409  2009
Grace          F      8314  2009
Lily           F      8098  2009
Alyssa         F      7966  2009
Ashley         F      7813  2009
Sarah          F      7780  2009
Taylor         F      7583  2009
Hannah         F      7572  2009
Brianna        F      7352  2009
Hailey         F      7317  2009
Kaylee         F      7213  2009
Lillian        F      6857  2009
Anna           F      6804  2009
Leah           F      6789  2009
Allison        F      6581  2009
...          ...       ...   ...
Zaylynn        M         5  2009
Zecharyah      M         5  2009
Zee            M         5  2009
Zekariah       M         5  2009
Zekhi          M         5  2009
Zell           M         5  2009
Zepplin        M         5  2009
Zequan         M         5  2009
Zereon         M         5  2009
Zevion         M         5  2009
Zhen           M         5  2009
Zhyair         M         5  2009
Zien           M         5  2009
Zier           M         5  2009
Zildjian       M         5  2009
Zimir          M         5  2009
Ziya           M         5  2009
Ziyun          M         5  2009
Zlatan         M         5  2009
Zoen           M         5  2009
Zubayr         M         5  2009
Zuhaib         M         5  2009
Zykee          M         5  2009
Zykell         M         5  2009
Zylar          M         5  2009
Zyquarius      M         5  2009
Zyran          M         5  2009
Zyreion        M         5  2009
Zyrian         M         5  2009
Zyvion         M         5  2009

[34709 rows x 3 columns],           Gender  Quantity  Year
Mary           F     67832  1926
Dorothy        F     36617  1926
Betty          F     32964  1926
Helen          F     26884  1926
Margaret       F     23070  1926
Ruth           F     20223  1926
Doris          F     16298  1926
Virginia       F     16162  1926
Mildred        F     13551  1926
Frances        F     13355  1926
Elizabeth      F     12835  1926
Jean           F     12168  1926
Evelyn         F     11780  1926
Shirley        F     11761  1926
Anna           F     11698  1926
Barbara        F     11080  1926
Alice          F     10956  1926
Marie          F     10632  1926
Lois           F      9819  1926
Gloria         F      9196  1926
Irene          F      9168  1926
Marjorie       F      8640  1926
Patricia       F      8589  1926
Martha         F      8554  1926
Rose           F      8509  1926
Florence       F      8180  1926
Louise         F      7983  1926
Lillian        F      7662  1926
Norma          F      7528  1926
Ruby           F      7473  1926
...          ...       ...   ...
Wandell        M         5  1926
Wane           M         5  1926
Warn           M         5  1926
Warnell        M         5  1926
Wavely         M         5  1926
Waver          M         5  1926
Weber          M         5  1926
Welborn        M         5  1926
Welden         M         5  1926
Wessley        M         5  1926
Western        M         5  1926
Wharton        M         5  1926
Wilfredo       M         5  1926
Wilgus         M         5  1926
Willman        M         5  1926
Wilmore        M         5  1926
Wilroy         M         5  1926
Winburn        M         5  1926
Woodfin        M         5  1926
Woodruff       M         5  1926
Wordie         M         5  1926
Wortham        M         5  1926
Wymon          M         5  1926
Ylario         M         5  1926
Yoshihiko      M         5  1926
Yves           M         5  1926
Zachariah      M         5  1926
Zan            M         5  1926
Zeferino       M         5  1926
Zelmer         M         5  1926

[10458 rows x 3 columns],           Gender  Quantity  Year
Emma           F     18688  2018
Olivia         F     17921  2018
Ava            F     14924  2018
Isabella       F     14464  2018
Sophia         F     13928  2018
Charlotte      F     12940  2018
Mia            F     12642  2018
Amelia         F     12301  2018
Harper         F     10582  2018
Evelyn         F     10376  2018
Abigail        F      9796  2018
Emily          F      8656  2018
Elizabeth      F      8513  2018
Mila           F      8126  2018
Ella           F      8055  2018
Avery          F      8053  2018
Sofia          F      7621  2018
Camila         F      7473  2018
Aria           F      7394  2018
Scarlett       F      7182  2018
Victoria       F      7089  2018
Madison        F      7036  2018
Luna           F      6897  2018
Grace          F      6724  2018
Chloe          F      6626  2018
Penelope       F      6474  2018
Layla          F      6468  2018
Riley          F      5976  2018
Zoey           F      5899  2018
Nora           F      5799  2018
...          ...       ...   ...
Zerrick        M         5  2018
Zeshan         M         5  2018
Zevan          M         5  2018
Zhander        M         5  2018
Zhen           M         5  2018
Zheng          M         5  2018
Zhiheng        M         5  2018
Ziaan          M         5  2018
Zichen         M         5  2018
Zidon          M         5  2018
Zien           M         5  2018
Zier           M         5  2018
Zierre         M         5  2018
Zihir          M         5  2018
Zim            M         5  2018
Zin            M         5  2018
Zishe          M         5  2018
Zmari          M         5  2018
Zoel           M         5  2018
Zola           M         5  2018
Zuber          M         5  2018
Zubeyr         M         5  2018
Zyell          M         5  2018
Zyheem         M         5  2018
Zykeem         M         5  2018
Zylas          M         5  2018
Zyran          M         5  2018
Zyrie          M         5  2018
Zyron          M         5  2018
Zzyzx          M         5  2018

[32033 rows x 3 columns]]

             Quantity
Gender Year
F      1926   1185399
       2009   1835062
       2018   1686961
M      1926   1110549
       2009   1981481
       2018   1800392